.header {
  height: 100px;
  width: 100vw;
  background-color: $headerWhite;
  position: fixed;
  display: flex;
  &__left {
    margin: 20px 0 20px 10%;
  }
  &__right {
    display: flex;
    width: 450px;
    margin: 0 1% 0 auto;
    &__login {
      @include outside();
      margin: 5%;
      .login__btn {
        @include inside();
        color: $mainBlue;
      }
    }
    &__regist {
      @include outside();
      background-color: $mainBlue;
      margin: 2%;
      .regist__btn  {
        @include inside();
        color: $whiteAddGray;
      }
    }
    &__logout {
      @include outside();
      margin: 1%;
      .logout__btn {
        @include inside();
        color: $mainBlue;
      }
    }
    &__user_image {
      align-self: center;
      width: 15px;
    }
    &__user-name {
      align-self: center;
      width: 150px;
      font-size: 15px;
    }
    &__home {
      @include headerIcon();
      .fa-home {
        color: $mainBlue;
      }
    }
    &__cog {
      @include headerIcon();
      .fa-cog {
        color: $mainGray;
      }
    }
  }
}
