.notification {
  .notice {
    background-color: rgb(16, 101, 212);
    color: white;
    font-weight: bold;
    text-align: center;
  }

  .alert {
    background-color: red;
    color: white;
    font-weight: bold;
    text-align: center;
  }
}