.post {
  background-color: $headerWhite;
  margin: 5% 5% 0 5%;
  padding: 3%;
  &__top {
    height: 30%;
    border-bottom: 1px solid rgb(231, 231, 231);
    display: flex;
    &__user-image {
      height: 50px;
      width: 50px;
      background-color: $headerWhite;
      align-self: center;
      .user_image {
        border-radius: 50%;
        object-fit: cover;  
      }
    }
    &__user-name {
      align-self: center;
      margin: 0 auto 0 3%
    }
    &__delete {
      .fa-trash-alt {
        color: red;
        font-size: 20px;
        line-height: 20px;
      }
    }
  }
  &__main {
    height: 100%;
    margin: 1% 0;
    &__text {
      padding: 3%;
    }
    &__image {
      &__content {
      }
    }
  }
  &__bottom { 
    display: flex;
    &__date {
      width: 150px;
      font-size: 14px;
      color: $mainGray;
      padding-left: 1%;
    }
    &__reaction {
      display: flex;
      line-height: 14px;
      margin-left: auto;
      margin-right: 40px;
      font-size: 20px;
      &__like {
        @include postIcon();
        .fa-thumbs-up {
          margin-right: 5px;
          color: $mainBlue;
        }
      }
      &__comment {
        @include postIcon();
        .fa-comment-alt {
          margin-right: 5px;
          color: black;
        }
      }
    }
  }
}