#bottom {
  position: absolute;
  bottom: 3%;
  right: 3%;
  &__form_btn{
    height: 15vw;
    width: 15vw;
    border-radius: 50%;
    background-color: $mainBlue;
    &__icon {
      text-align: center;
      line-height: 20vw;
     .fas.fa-pen-fancy{
        font-size: 8vw;
        color: $whiteAddGray;
      }
    }
  }
}

#overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 1;
  overflow: scroll;
  #modal-window {
    width: 70vw;
    height: 45vw;
    background-color: $headerWhite;
    display: flex;
    margin: 20vw auto;
    z-index: 2;
    .form {
      margin: 1vw auto;
      &__top {
        margin-bottom: 1vw;
        #window-close {
          height: 3vw;
          .fas.fa-times {
            margin-left: 65vw;
          }
        }
      }
      &__middle {
        .form-field {
          resize: none;
          height: 30vw;
          width: 100%;
          border: 5px solid rgb(216, 216, 216);
          border-radius: 0.5em;
          padding: 2%;
          box-sizing: border-box;
        }
      }
      &__bottom {
        text-align: center;
        &__mask {
          .label{
            cursor: pointer;
            font-size: 2em;
          }
          .file-field {
            display: none;
          }
        }
        .submit {
          height: 20%;
          width: 30%;
          margin: 2%;
          background-color: $mainBlue;
          border-radius: 0.5em;
          color: $whiteAddGray;
        }
      }
    }
  }
}
