// リファクタリング to_do
// colors.scss,mixinの作成

.wrapper {
  .header {
    height: 100px;
    width: 100vw;
    background-color: white;
    position: fixed;
    display: flex;
    &__left {
      margin: 20px 0 20px 10%;
      &__logo {
      }
    }
    &__right {
      display: flex;
      width: 400px;
      margin: 0 20px 0 auto;
      &__user-name {
        width: 150px;
      }
      &__login {
        display: flex;
        align-self: center;
        height: 40px;
        width: 100px;
        margin: 5%;
        border: 2px solid rgb(16, 101, 212);
        border-radius: 1em;
        .login__btn {
          align-self: center;
          font-weight: bold;
          text-decoration: none;
          color: rgb(16, 101, 212);
          margin: 0 auto;
        }
      }
      &__regist {
        display: flex;
        align-self: center;
        height: 40px;
        width: 100px;
        background-color: rgb(16, 101, 212);
        margin: 2%;
        border: 2px solid rgb(16, 101, 212);
        border-radius: 1em;
        .regist__btn  {
          align-self: center;
          font-weight: bold;
          text-decoration: none;
          color: white;
          margin: 0 auto;
        }
      }
      &__logout {
        display: flex;
        align-self: center;
        height: 40px;
        width: 100px;
        margin: 5%;
        border: 2px solid rgb(16, 101, 212);
        border-radius: 1em;
        .logout__btn {
          align-self: center;
          font-weight: bold;
          text-decoration: none;
          color: rgb(16, 101, 212);
          margin: 0 auto;
        }
      }
      &__user-name {
        align-self: center;
        width: 20%;
        font-size: 20px;
      }
      &__home {
        align-self: center;
        width: 10%;
        font-size: 30px;
      }
      &__cog {
        align-self: center;
        width: 10%;
        font-size: 30px;
      }
      &__edit {
        align-self: center;
        width: 10%;
        font-size: 30px;
      }
    }
  }
  .main {
    display: flex;
    padding: 150px 2% 0 2%;
    background-color: rgb(231, 231, 231);
    .main-container {
      height: 100%;
      width: 65%;
      background-color: #f5f5f5;
      margin: 0 2%;
      .post {
        background-color: white;
        margin: 5%;
        padding: 3%;
        &__top {
          height: 30%;
          border-bottom: 1px solid grey;
          display: flex;
          &__user-image {
            height: 50px;
            width: 50px;
            background-color: grey;
          }
          &__user-name {
            align-self: center;
            margin-left: 3%;
          }
        }
        &__main {
          height: 80px;
          margin: 1% 0;
          &__text {
            padding: 3%;
          }
          &__image {

          }
        }
        &__bottom { 
          display: flex;
          &__date {
            width: 150px;
            font-size: 14px;
            color: lightslategray;
            padding-left: 1%;
          }
          &__reaction {
            display: flex;
            line-height: 14px;
            margin-left: auto;
            margin-right: 40px;
            &__heart {
              margin-left: 10%;
              .fa-heart {
                color: red;
              }
            }
            &__sign-language {
              margin-left: 10%;
              .fa-sign-language {
                color: red;
              }
            }
            &__thumbs-up {
              margin-left: 10%;
              .fa-thumbs-up {
                color: red;
              }
            }
            &__comment {
              margin-left: 10%;
              .fa-comment-alt {
                color: black;
              }
            }
          }
        }
      }
    }
    .side-container {
      height: 35%;
      width: 35%;
      background-color: white;
      margin: 0 5%;
      .form {
        margin: 2%;
        .form-field {
          height: 100px;
          width: 100%;
          box-sizing: border-box;
          border: 5px solid rgb(216, 216, 216);
          border-radius: 0.5em;
          padding: 2%;
        }
        .submit {
          float: right;
          height: 10%;
          width: 30%;
          margin: 2%;
          background-color: rgb(16, 101, 212);
          border-radius: 0.5em;
          color: white;
        }
      }
    }
  }
}