.wrapper {
  overflow: hidden;
  position: relative;
  .main {
    display: flex;
    padding: 150px 2% 0 2%;
    background-color: rgb(231, 231, 231);
    .main-container {
      height: calc(100vh - 150px);
      overflow: scroll;  
      width: 95%;
      background-color: #f5f5f5;
      margin: 0 2%;
    }
  }
}

