.wrapper {
  .container {
    width: 65%;
    height: 100vh;
    overflow: scroll; 
    background-color: $whiteAddGray;
    margin: 0 auto;
    .comment-container {
      &__all {
        margin-bottom: 3%;
        .comment {
          display: flex;
          font-size: 13px; 
          &__user-name {
            width: 25%;
          }
          &__text {
            width: 45%;
          }
          &__date {
            color: rgb(231, 231, 231);
            margin: 0 auto;
          }
        }
      }
    }
  }
}
