@mixin outside() {
  display: flex;
  align-self: center;
  height: 40px;
  width: 100px;
  border: 2px solid $mainBlue;
  border-radius: 1em;
}

@mixin inside() {
  align-self: center;
  font-weight: bold;
  text-decoration: none;
  margin: 0 auto;
}