.actions {
  margin: 5%;
  text-align: center;
  &__login {
    &--btn {
      background-color: white;
      color: rgb(16, 101, 212);
      height: 40px;
      width: 100%;
      border-radius: 0.5em;
      margin-bottom: 5%;
      border: 2px solid rgb(16, 101, 212);
    }
  }
  &__regist {
    height: 40px;
    width: 100%;
    background-color: rgb(16, 101, 212);
    margin: 2% auto;
    border: 2px solid rgb(16, 101, 212);
    border-radius: 1em;
    &--btn {
      font-weight: bold;
      text-decoration: none;
      color: white;
      margin: 0 auto;
      line-height: 40px;
    }
  }
  &__fog-password {
    margin: 10px auto;
    &--link {
      text-decoration: none;
      color: rgb(16, 101, 212);
    }
  }
}

